{% extends 'default/baseDesign.html.twig' %}

{% block title %}Insert{% endblock %}

{% block body %}


            <header class="mainHeader upper">
                Database Entry
            </header>

            <div class="tCntr fx nc">
                <div class="ncRel">
                    <span id="ncText">NOTIFACTION</span>
                    <i class="resign pointer"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 100 100" id="close" version="1.1" viewBox="0 0 100 100" xml:space="preserve"><polygon fill="#FFFFFF" points="77.6,21.1 49.6,49.2 21.5,21.1 19.6,23 47.6,51.1 19.6,79.2 21.5,81.1 49.6,53 77.6,81.1 79.6,79.2   51.5,51.1 79.6,23 "/></svg></i>
                </div>

            </div>

            <section id="wrapper">
                <article>
                    <div class="inputHeader upper">
                        product entry
                    </div>
                    <div class="inputContainer">
                        <div class="headerLevel2 upper">
                            Baseinformation
                        </div>
                        {% for input in inputs %}
                            <div class="inputGrid">
                            {% if input.id == true %}

                                    <label for="{{ input.id }}">{{ input.name }}</label>
                                    <input class="tInput inputBorder fx" id="{{ input.id }}" type="text" >

                            {% elseif input.id == false %}

                                    <input name="{{ input.name }}" type ="file">

                            {% endif %}

                            </div>


                        {% endfor %}

                        <div class="clr"></div>
                        <div class="go upper tCntr pointer">Submit</div>

                    </div>
                </article>
            </section>


            <footer>

            </footer>

{% endblock %}

