html,body{
    margin: 0;padding: 0;
    font-family: "Helvetica Neue";
    font-weight: 100;
    letter-spacing: 1.5px;
    word-spacing: -.5px;
}
input,textarea{
    outline: none;
}
textarea{
    resize:none;
}
.fx{
    transition: all 300ms ease-out;
}
.upper{
    text-transform: uppercase;
}
.clr{
    clear: both;
}
.tCntr{
    text-align: center;
}
.nc{
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    margin: 0 30%;
    padding: 16px 1%;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;

}
.sNC{
    background-color: rgba(129, 255, 36, 0.87);
}
.iNC{
    background-color: rgba(255, 223, 8, 0.87);
}
.eNC{
    background-color: rgba(255, 26, 25, 0.87);
}
.ncAct{
    line-height: 1.5;
    visibility: visible;
    opacity: 1;
    padding: 20px 1%;
    height: auto;
}
.pointer{
    cursor: pointer;
}
.ncRel{
    position: relative;
    font-weight: 400;
    letter-spacing: 2.5px;
    color:black;
}
.resign{
    position: absolute;
    right: -10px;
    top:-20px;
    background-color:rgba(36, 39, 33, 0.87);
    border: .5px solid lightgray;
    width: 16px;
    height: 16px;
    border-radius: 13.5px;
    color: #ffffff;
    padding: 5px;
}
.mainHeader{
    padding: 15px;
    background-color:rgba(36, 39, 33, 0.87);
    color:white;
}
#wrapper{
    margin: 25px 10%;
    min-height: 600px;
}
.inputHeader{
    border-bottom: .5px solid rgba(36, 39, 33, 0.87);
    padding: 15px 0;
    text-indent: 10px;
}
.headerLevel2{
    border-bottom: .5px solid rgba(36, 39, 33, 0.87);
    padding: 15px 0;
    text-indent: 10px;
    margin-bottom: 20px;
}
.inputContainer{
    margin: 25px 0 25px 10%;
}
.inputGrid{
    float: left;
    width: 40%;
    text-align: center;
    padding: 25px 2%;
}
.inputGrid label{
    text-transform: uppercase;
    border: .5px solid rgba(36, 39, 33, 0.87);
    height: 31px;
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    padding: 0 8px;
}
.tInput{
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    text-indent: 10px;
    font-size: 16px;
    width: 60%;
    max-width: 350px;
}

.tArea{
    height: 150px;
    width: 90%;
    font-size: 16px;
    line-height: 1.5;
    padding: 5px;
    color: rgba(36, 39, 33, 0.87);
    box-sizing: border-box;
}
.inputBorder{
    border:.5px solid lightgray;
}
.inputBorder:focus{
    border: 1px solid black;
}

.go{
    background-color: rgba(129, 255, 36, 0.97);
    margin: 20px auto;
    width: 80%;
    padding: 12px 0;
    border-radius: 2px;
    font-weight: 300;
    max-width: 350px;

}
.submit{
    background-color: rgba(36, 39, 33, 0.87);
    margin: 20px 0;
    color:#ffffff;
    width: 90%;
    height: 44px;
    line-height: 44px;
    cursor: pointer;
}
.submit:hover{
    background-color:  rgba(36, 39, 33, 0.80);

}
.submit:active{
    background-color:  rgba(36, 39, 33, 0.75);
}

