{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/acmestore/css/style.css') }}" rel="stylesheet" type="text/css">
{% endblock %}


{% block javascripts %}
    <script src="{{asset('bundles/acmestore/js/bower_components/jquery/dist/jquery.js')  }}" type="text/javascript"></script>
    <script src="{{asset('bundles/acmestore/js/main.js')  }}" type="text/javascript"></script>
{% endblock %}