{% extends 'default/baseDesign.html.twig' %}

{% block title %} Push {% endblock %}

{%block body  %}
    <header class="mainHeader upper">
        Feed App
    </header>
    <div class="inputHeader upper">
        App Push Notifications
    </div>
    <div class="inputContainer">

{% for input in inputs  %}


    <textarea  id="{{ input.id }}" class="tArea inputBorder fx"> </textarea>

{% endfor %}

    <div id="submitPush" class="submit upper tCntr fx">
        {{ submitString }}
    </div>

    </div>

{% endblock %}