#{% extends "::base.html.twig" %}

#{% block title %}AcmeStoreBundle:Ajax:ajax{% endblock %}

##{% block body %}
#<h1>Welcome to the Ajax:ajax page</h1>

    #<h2>
    {{ json }}
    #</h2>

#{% endblock %}
